<div class="columns is-multiline">
  <div class="column is-4">1</div>
  <div class="column is-4">1</div>
  <div class="column is-4">1</div>
  <div class="column is-4">1</div>
  <div class="column is-4">1</div>
</div>
